* {
  margin: 0;
  padding: 0;
}

body {
  padding: 2rem 2rem;
}

h1 {
  font-family: "Playfair Display";
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.head-section {
  margin-top: 0.75rem;

  display: flex;
  gap: 0.75rem 0;
  align-items: flex-start;
}

.head-section > img {
  margin-right: 0.75rem;
  padding-top: 0.25rem;
}

.head-section > p {
  color: #4f4f4f;
  font-family: "Montserrat";
  font-size: 0.825rem;
  font-style: italic;
  font-weight: 500;
  line-height: normal;
}

header > img {
  width: 100%;
  margin-top: 2rem;
}

.container {
  display: flex;
  flex-direction: column-reverse;
}

aside {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 1.5rem;
}

aside > div:nth-child(1) {
  width: 100%;
  margin-bottom: 1.25rem;
}

.info {
  display: flex;
  align-items: center;
  padding-right: 2em;
}

.info > span {
  margin-right: 0.5rem;
}

.title {
  color: #bdbdbd;
  font-family: "Montserrat";
  font-size: 0.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.desc {
  color: #333;
  font-family: "Montserrat";
  font-size: 0.625rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.highlight {
  color: #f2994a;
}

main > div > h3 {
  color: #333;
  font-family: "Playfair Display";
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  margin-top: 2rem;
}

.item > h4 {
  color: #333;
  font-family: "Playfair Display";
  font-size: 1rem;
  font-style: italic;
  font-weight: 400;
  line-height: normal;

  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

.ingredient {
  display: flex;
  align-items: flex-start;

  margin-top: 1rem;
}
.striked-ingredient {
  color: #bdbdbd;
  text-decoration: line-through;
}

.ingredient > input[type="checkbox"] {
  min-width: 1.25rem;
  height: 1.25rem;

  border-radius: 0.25rem;
  border: 1px solid #828282;
  margin-right: 0.5rem;
}

.ingredient > label > p {
  color: #333;
  font-family: "Montserrat";
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
}

.instruction {
  display: flex;
  margin-top: 0.75rem;
}

.instruction > div {
  color: #fff;
  background-color: #f2994a;
  font-family: "Playfair Display";
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  height: 2.5rem;

  margin-right: 1rem;
  padding: 0 0.75rem;
  border-radius: 0.375rem;
}

.instruction > p {
  color: #000;
  font-family: "Montserrat";
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.source {
  color: #bdbdbd;
  font-family: "Montserrat";
  font-size: 0.75rem;
  font-style: italic;
  font-weight: 400;
  line-height: 150%;
  margin-top: 2rem;
}

.source > a {
  text-decoration: none;
  color: inherit;
}

footer {
  color: #bdbdbd;
  font-family: "Montserrat";
  font-size: 0.875rem;
  font-weight: 500;
  font-style: normal;
  line-height: normal;
  text-align: center;

  margin-top: 5rem;
}

footer > b > a {
  color: #bdbdbd;
  font-weight: 700;
  text-transform: none;
  text-decoration: none;
}

@media (min-width: 600px) {
  body {
    padding: 3rem 0;
  }

  header {
    width: 70%;
    max-width: 60rem;
    margin: 0 auto;
  }

  h1 {
    font-size: 3rem;
  }

  .head-section > p {
    font-size: 0.875rem;
    width: 37.5rem;
  }

  .container {
    flex-direction: row;

    width: 70%;
    max-width: 60rem;
    margin: 0 auto;
  }

  .container > img {
    margin-top: 3rem;
  }

  main {
    width: 70%;
    margin-top: 3rem;
    padding-right: 5rem;
  }

  aside {
    background: #fff;
    box-shadow: 0 0 1.25rem 0 rgba(0, 0, 0, 0.1);
    border-radius: 0.75rem;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: nowrap;

    width: 15%;
    height: 25rem;
    padding: 0 4rem;
    margin-top: 3rem;
  }

  .info:nth-child(1) {
    margin-bottom: 0;
  }

  .info {
    width: 100%;
    margin: 0 auto;
  }

  .info > span {
    font-size: 2.125rem;
    margin-right: 1rem;
  }

  .title {
    font-size: 0.625rem;
  }

  .desc {
    font-size: 0.875rem;
  }

  main > div > h3 {
    margin-top: 0;
    font-size: 1.5rem;
  }

  .item > h4 {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .ingredient > input[type="checkbox"] {
    margin-right: 1rem;
  }

  .ingredient > label > p {
    font-size: 1rem;
  }

  .instructions > h3 {
    margin: 4rem 0 2rem;
  }

  .instruction {
    margin-bottom: 2rem;
  }

  .instruction > div {
    height: 2.25rem;
  }

  .instruction > p {
    font-size: 1.25rem;
  }

  .source {
    font-size: 1rem;
  }
}
